<div class="layout">
  <div class="columns">
    <div class="column">
    
      <table class="table">
        <thead>
          <tr>
            <th><span class="label label--small">Operator</span></th>
            <th><span class="label label--small">Walk</span></th>
            <th><span class="label label--small">Range</span></th>
           
          </tr>
        </thead>
        <tbody>
          {% assign sorted_scooters = data | sort: "walkingTime" %}
          {% assign available_scooters = sorted_scooters | where: "isAvailable", true %}
          {% for scooter in available_scooters limit:5 %}
          <tr>
            <td>
              <div style="display: flex; align-items: center; gap: 8px;">
                <span class="label w--6 h--6 rounded--medium">
                  <img class="image image--contain rounded" src="{{scooter.iconUrl}}" width="100%" height="100%">
                </span>
               
              </div>
            </td>
            <td><span class="label">{{scooter.walkingTimeHumanReadable}}</span></td>
            <td><span class="label">{{scooter.currentRangeMeters | divided_by: 1000}}km</span></td>
           
          </tr>
          {% endfor %}
        </tbody>
      </table>
      

    </div>
  </div>
</div>

<div class="title_bar">
  <img class="image" src="https://usetrmnl.com/images/plugins/trmnl--render.svg">
  <span class="title">{{ trmnl.plugin_settings.instance_name }}</span>
  <span class="instance">
         <!-- Provider summary -->
      <div class="flex flex--row flex--bottom">
        {% assign all_operators = available_scooters | map: "name" | uniq %}
        {% for operator in all_operators %}
          {% assign operator_count = available_scooters | where: "name", operator | size %}
          {% assign displayed_count = available_scooters | slice: 0, 5 | where: "name", operator | size %}
          {% assign remaining = operator_count | minus: displayed_count %}
          {% assign first_scooter = available_scooters | where: "name", operator | first %}
          <div class="flex flex--row  flex--center-y" data-value-fit="true">
          <span class="label w--8  ">
            <img class="image image--contain" src="{{first_scooter.iconUrl}}" width="100%" height="100%">
          </span>
          <span class="label" >{{operator_count}}{% if remaining > 0 %} (+{{remaining}} more){% endif %}</span>
          </div>
        {% endfor %}
      </div>
  </span>
</div>