<div class="layout">
  <div class="columns">
    <div class="column">

      <table class="table">
        <tbody>
          {% assign sorted_scooters = data | sort: "walkingTime" %}
          {% assign available_scooters = sorted_scooters | where: "isAvailable", true %}
          {% for scooter in available_scooters limit:7 %}
          <tr>
            <td>
              <div class="flex flex--row flex--center-y">
                <span class="label w--6 h--6 rounded--medium">
                  <img class="image image--contain rounded" src="{{scooter.iconUrl}}" width="100%" height="100%">
                </span>
              </div>
            </td>
            <td><span class="label">{{scooter.walkingTimeHumanReadable}}</span></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
     

    </div>
  </div>
</div>

<div class="title_bar">
  <img class="image" src="https://usetrmnl.com/images/plugins/trmnl--render.svg">
  <span class="title">{{ trmnl.plugin_settings.instance_name }}</span>
   <span class="instance">
       <div class="flex flex--row flex--bottom">
      {% assign all_operators = available_scooters | map: "name" | uniq %}
      {% for operator in all_operators %}
        {% assign operator_count = available_scooters | where: "name", operator | size %}
        {% assign displayed_count = available_scooters | slice: 0, 7 | where: "name", operator | size %}
        {% assign remaining = operator_count | minus: displayed_count %}
        {% assign first_scooter = available_scooters | where: "name", operator | first %}
        <div class="flex flex--row flex--center-y" data-value-fit="true">
          <span class="label w--8">
            <img class="image image--contain" src="{{first_scooter.iconUrl}}" width="100%" height="100%">
          </span>
          <span class="label">{% if remaining > 0 %} (+{{remaining}}){% endif %}</span>
        </div>
      {% endfor %}
    </div>
  </span>
</div>
