<div class="layout">
  <div class="columns">
    <div class="column">
      <span class="label">Scooters</span>
      <table class="table">
        <thead>
          <tr>
            <th><span class="label label--small">Provider</span></th>
            <th><span class="label label--small">Distance</span></th>
           
          </tr>
        </thead>
        <tbody>
        {% assign voi = data | where: "operator", "YVO:Operator:voi" %}
          {% for scoot in voi limit:1 %}
         <tr>
            <td><span class="label w--9 h--9 rounded--medium  "><img class="image image--contain rounded" src="{{scoot.iconUrl}}" width="100%" height="100%"></span></td>
            <td><span class="label">{{scoot.distance | floor}} meter</span></td>

          </tr>
          {% endfor %}
        {% assign ryde = data | where: "operator", "YRY:Operator:Ryde"  %}
          {% for scoot in ryde limit:1 %}
         <tr>
            <td><span class="label w--9 h--9 rounded--medium  "><img class="image image--contain rounded" src="{{scoot.iconUrl}}" width="100%" height="100%"></span></td>
            <td><span class="label">{{scoot.distance | floor}} meter</span></td>

          </tr>
          {% endfor %}
          
        </tbody>
      </table>
    </div>


  </div>
</div>

<div class="title_bar">
  <img class="image" src="https://usetrmnl.com/images/plugins/trmnl--render.svg">
  <span class="title">{{ trmnl.plugin_settings.instance_name }}</span>
  <span class="instance">Description</span>
</div>
