<!DOCTYPE html>
<html>
  <head>
    <title>Preview {{ plugin }} plugin</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;350;375;400;450;600;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous" defer></script>
    <link rel="stylesheet" href="https://usetrmnl.com/css/latest/plugins.css" />
    <script src="https://cdn.shopify.com/s/files/1/0533/2089/files/plugins.js" defer></script>
    <style>
      body.environment {
        background-color: #cccccc;
      }

      .wrapper {
        margin: 0 auto;
        width: 865px;
      }

      .header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 20px 0;
      }

      ul.nav {
        list-style-type: none;
        padding: 0;
        margin: 0;
      }

      ul.nav li {
        display: inline;
        margin-right: 10px;
      }

      ul.nav li a {
        display: inline-flex;
        align-items: center;
        text-decoration: none;
        color: #333;
      }

      ul.nav li a.selected {
        color: green;
      }

      ul.nav li svg {
        width: 30px;
        height: 30px;
      }

      .device {
        background-image: url('/device.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        height: 580px;
      }

      .screen {
        position: relative;
        top: 29px;
        left: 33px;
      }

      .data-selectors {
        margin: 16px 0;
        display: flex;
        justify-content: center;
        gap: 30px;
      }

      .data-selectors select {
        width: 200px;
      }

      .data-selectors label {
        font-size: 14px;
        font-weight: 600;
      }
    </style>
  </head>
  <body class="environment trmnl">
    <div class="wrapper">
      <div class="header">
        <div>
          <h1>Preview</h1>
        </div>
        <div>
          <ul class="nav">
            <li>
              <a {% if layout == "full" %}class="selected" {% endif %}href="/preview/full?plugin={{ plugin }}&custom_fields={{ custom_fields }}&user_data={{ user_data }}">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 256 256"><path d="M208,32H48A16,16,0,0,0,32,48V208a16,16,0,0,0,16,16H208a16,16,0,0,0,16-16V48A16,16,0,0,0,208,32Zm0,176H48V48H208V208Z"></path></svg>
                Full
              </a>
            </li>

            <li>
              <a {% if layout == "half_horizontal" %}class="selected" {% endif %}href="/preview/half_horizontal?plugin={{ plugin }}&custom_fields={{ custom_fields }}&user_data={{ user_data }}">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 256 256"><path d="M200,40H56A16,16,0,0,0,40,56V200a16,16,0,0,0,16,16H200a16,16,0,0,0,16-16V56A16,16,0,0,0,200,40Zm0,16v64H56V56Zm0,144H56V136H200v64Z"></path></svg>
                Half Horizontal
              </a>
            </li>

            <li>
              <a {% if layout == "half_vertical" %}class="selected" {% endif %}href="/preview/half_vertical?plugin={{ plugin }}&custom_fields={{ custom_fields }}&user_data={{ user_data }}">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 256 256"><path d="M200,40H56A16,16,0,0,0,40,56V200a16,16,0,0,0,16,16H200a16,16,0,0,0,16-16V56A16,16,0,0,0,200,40ZM56,56h64V200H56ZM200,200H136V56h64V200Z"></path></svg>
                Half Vertical
              </a>
            </li>

            <li>
              <a {% if layout == "quadrant" %}class="selected" {% endif %}href="/preview/quadrant?plugin={{ plugin }}&custom_fields={{ custom_fields }}&user_data={{ user_data }}">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 256 256"><path d="M200,40H56A16,16,0,0,0,40,56V200a16,16,0,0,0,16,16H200a16,16,0,0,0,16-16V56A16,16,0,0,0,200,40Zm0,80H136V56h64ZM120,56v64H56V56ZM56,136h64v64H56Zm144,64H136V136h64v64Z"></path></svg>
                Quadrant
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="device">
        <div class="screen">
          <div class="view view--{{ layout }}">

<!-- contents begin -->

{{ contents }}

<!-- contents end -->

          </div>
        </div>
      </div>
      <div class="data-selectors">
        <div>
          <label for="plugin">Plugin:</label>
          <select class="form-select" name="plugin" id="plugin" onchange="reloadWithSelectedOptions()">
            {% for item in available_plugins %}
              <option value="{{ item }}" {% if item == plugin %}selected{% endif %}>{{ item }}</option>
            {% endfor %}
          </select>
        </div>
        <div>
          <label for="custom-fields">Custom Fields:</label>
          <select class="form-select" name="custom-fields" id="custom-fields" onchange="reloadWithSelectedOptions()">
            {% for item in available_custom_fields %}
              <option value="{{ item }}" {% if item == custom_fields %}selected{% endif %}>{{ item }}</option>
            {% endfor %}
          </select>
        </div>
        <div>
          <label for="user-data">User Data:</label>
          <select class="form-select" name="user-data" id="user-data" onchange="reloadWithSelectedOptions()">
            {% for item in available_user_data %}
              <option value="{{ item }}" {% if item == user_data %}selected{% endif %}>{{ item }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
  </body>

  <script type="text/javascript">
    function reloadWithSelectedOptions() {
      var url = '?plugin=' + document.getElementById('plugin').value + '&custom_fields=' + document.getElementById('custom-fields').value + '&user_data=' + document.getElementById('user-data').value;
      window['window'].location.href = url;
    }
  </script>
</html>
